<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Storage</title>
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap.min.css" />
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="container">
            <span class="navbar-brand">Storage</span>
            <span class="navbar-text">
                Пользователь: @User.Identity.Name
            </span>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>

    <footer class="card-footer mt-auto">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <a target="_blank" class="mb-2" href="https://sibintek.ru"><img src="~/images/logo_0.svg" alt="СИБИНТЕК" /></a>
                </div>
                <div class="col-4 offset-4 text-right">
                    <p>+7 (495) 755-52-73</p>
                    <p>info@sibintek.ru</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/bootstrap/jquery-3.5.1.slim.min.js"></script>
    <script src="~/lib/bootstrap/popper.min.js"></script>
    <script src="~/lib/bootstrap/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/docs.min.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

